.tejislider__item {
  position: relative;
  text-align: center;
  margin: 0;
}

.tejislider__item .left-cover {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  bottom: 0;
  z-index: 1000;
}
    
.tejislider__item .right-cover {
  position: absolute;
  right: 0;
  width: 50%;
  top: 0;
  bottom: 48px;
  z-index: 1000;
}

.tejislider__item:not(.inactive) .left-cover:hover {
  cursor: url("./img/arrow-left.svg"), default;
}

.tejislider__item:not(.inactive) .right-cover:hover {
  cursor: url("./img/arrow-right.svg"), default;
}

.tejislider__text {
  position: absolute;
  z-index: 11000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
